body {
    background-color: #1f2027;
}

.sprite-btn {
    width: 200px;
    /* ширина ОДНОГО состояния */
    height: 200px;
    /* высота спрайта */
    background-image: url("./transparent_button_sprite.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    /* отжатая */
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-top: -12px;
    margin-left: -12px;
    filter: brightness(0.95);
}

.sprite-btn:active {
    background-position: -210px 0;
}

.btn-bg {
    width: 188px;
    height: 174px;
    margin-top: 7px;
    margin-left: 6px;
    border-radius: 50%;
}

.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.flex-column {
    padding: 24px 32px 24px 32px;
    border-radius: 32px;

    background-color: lightgray;
    box-shadow: 0px 64px 0px 0px grey;

}
